:root {
  /* --bg-primary-color: hsl(269, 50%, 76%);
  --bg-offset-color: hsl(273, 69%, 90%);
  --hover-color: hsl(273, 69%, 88%);
  --accent-color: hsl(4, 85%, 57%); */
  --primary-color: hsl(60, 0%, 97%);
  --bg-primary-color: var(--primary-color);
  /* --offset-color: hsl(60, 86%, 97%); */
  --offset-color: hsla(60, 86%, 97%, 1);
  --bg-offset-color: var(--offset-color);
  /* --hover-color: hsl(4, 85%, 97.5%); */
  /* --hover-color: var(--light-purple); */
  --hover-color: transparent;
  /* --accent-color: hsl(4, 85%, 57%); */
  --accent-color: hsla(55, 57%, 30%, 1);

  --resources-background: hsla(60, 86%, 97%, 1);
  --resources-header: #333333;
  --resources-bronze: hsla(43, 100%, 31%, 1);
  --resources-border: #333335;
  /* --resources-tab-border: #355326; */
  --resources-tab-border: #3c522c;
  --resources-shadow: #5b514d;

  --headline-white: var(--offset-color);
  --slate-green: #7c9982;
  --slate-light: hsl(132, 12%, 64%);
  --resources-rule: var(--slate-green);
  /* --bold-purple: hsl(267, 52%, 49%); */
  /* --bold-purple: hsla(98, 52%, 72%, 1); */
  /* --dark-purple: hsla(267, 52%, 24%, 1); */
  /* --dark-purple: hsla(133, 30%, 25%, 1); */
  /* --dark-purple: #addc91; */

  --light-salmon: #e7caa9;
  --light-purple: hsla(267, 52%, 90%, 1);
  --question-divider: var(--light-purple);
  --bold-red: var(--accent-color);
  --border-color: var(--slate-green);
  --black: #1e1e1e;

  --purple-shadow: 0.4rem 0.4rem 0 var(--slate-green);
  /* --container-shadow-dark: 0.8rem 0.8rem 0 var(--light-salmon); */
  /* --container-shadow-dark: 0.8rem 0.8rem 0 hsla(44, 100%, 31%, 1); */
  --container-shadow-dark: 0.8rem 0.8rem 0 #5c514d;

  /* font-family: 'FranklinGothic URW';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.09em;
text-transform: uppercase; */

  /* @font-face {
    font-family: 'Libre Franklin Gothic';
    src: url('./fonts/LibreFranklin-VariableFont_wght.ttf') format('ttf');
    font-display: swap;
  }
  @font-face {
    font-family: 'Libre Franklin Italic';
    src: url('./fonts/LibreFranklin-Italic-VariableFont_wght.ttf') format('ttf');
    font-display: swap;
  } */

  --font-stack: "Libre Franklin", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  /* --font-stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */

  /* TEXT */
  --text-primary-color: hsl(272, 52%, 10%);
  --font-primary: var(--font-stack);
  --font-style-standard: normal;
  --font-size-super-heading: 2.4rem;
  --font-size-heading: 1.25rem;
  --font-size-standard: 1.2rem;
  --font-size-small: 0.8rem;
  --line-height-XXL: 312%;
  --line-height-heading: 120%;
  --line-height-standard: 120%;
  --line-height-small: 95%; /* TBD refactor */

  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;

  --font-weight-standard: var(--font-weight-400);
  --font-weight-bold: var(--font-weight-600);

  /* SIZING */
  /* --tool-width: 490px; */
  --tool-width: 55vw;
  /* --max-tool-width: var(--some-squarespace-variable); */
  --max-tool-width: 1200px;

  --padding: 1.25rem 0px;
  --padding-tool-row: 1rem 0;
  --padding-bubble: 0.75rem 1rem;
  --padding-tool-large: 2rem 0;

  --small-unit: 10px;
  --large-unit: 20px;
  --full-module: calc(
    var(--tool-width) - var(--small-unit) - calc(2 * var(--large-unit))
  );
  --half-module: calc(50% - calc(var(--small-unit) / 2));
  --quarter-module: calc(var(--half-module) / 2);

  --border-small: 2px solid var(--border-color);
  --border-medium: 3px solid var(--border-color);
  --border-large: 8px solid var(--border-color);
  --border-large-pxonly: 8px;

  /* Figma spec */
  /* --border-radius-large: 24px; */
  /* --border-radius-small: 12px; */
  /* Assumed Metric */
  --border-radius-large: 20px;
  --border-radius-small: 10px; /* TBD refactor */
}

p {
  color: var(--black);
  font-style: var(--font-style-standard);
  font-weight: var(--font-weight-standard);
  font-size: var(--font-size-standard);
  line-height: var(--line-height-standard);
  letter-spacing: -0.01rem;
  text-align: start;
}

.TBD {
  width: stretch;

  /* align-self: flex-end; */
  /* justify-self: flex-end; */
  height: fit-content;
  display: inline-flex;
  flex-direction: row-reverse;
}
.toggle {
  display: inline-block;
  margin: 0;
  margin-bottom: 0.5rem;
  padding: 0.5rem;

  border: 2px dashed black;
  border-radius: 0.5rem;

  font-size: 0.8625rem;
}

#wrc h1.pathway {
  margin-bottom: 0;
  padding-bottom: 0;
}
#wrc p.sqsrte-large {
  margin-top: -1rem;
  padding-top: 0;
  font-size: calc((2.3 - 1) * calc(0.012 * min(100vh, 900px)) + 0.625rem);
}

.wavy {
  text-decoration-style: wavy !important;
  text-decoration-thickness: 0.125rem !important;
}
.dot {
  text-decoration-style: dotted !important;
  text-decoration-thickness: 0.25rem !important;
}
.tooltip {
  position: relative; /* making the .tooltip span a container for the tooltip text */
  font-style: inherit;
  font-family: Georgia, "Times New Roman", Times, serif !important;
  font-weight: var(--font-weight-500);
  text-decoration: underline;
  text-decoration-color: var(--slate-light);
  text-underline-offset: 0.5rem !important;
  text-decoration-thickness: 0.125rem;
}
.tooltip:before {
  content: attr(data-text); /* here's the magic */
  position: absolute;

  /* vertically center */
  top: 50%;
  transform: translateY(-25%);

  /* move to right */
  left: 100%;
  margin-left: 15px; /* and add a small left margin */

  /* basic styles */
  width: 20rem;
  padding: 2rem;
  background: #fefef1;
  color: #1e1e1e;
  font-style: oblique;

  border-radius: 1rem;
  border: 1px solid #7c9982;

  display: none; /* hide by default */
}
.tooltip:hover:before {
  display: block;
  font-size: calc((2.3 - 1) * calc(0.012 * min(100vh, 900px)) + 0.5rem);
  line-height: 145%;
}
.tooltip:hover {
  text-decoration: underline;
  text-decoration-color: var(--slate-green);
  position: relative;
  content: "test";
  z-index: 10;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.app-body {
  background-color: var(--light-salmon);
  /* min-height: 100vh; */
  height: fit-content;
  margin: 0;
  padding: 0;

  display: flex;
  gap: var(--large-unit);
  flex-direction: row;
  align-items: top;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

/* /
/
/
/ */

/* WRC TOOL */

#wrc * {
  font-family: var(--font-primary);
}

#wrc {
  /* width: var(--tool-width); */
  align-self: center;
  justify-self: center;

  display: flex;
  /* flex-direction: row; */
  flex-direction: column;
  gap: 2.8125rem;
  align-items: center;
  height: fit-content;
}
.squarespace-platform-width-override {
  width: 100%;
  display: unset !important;
}

/* #wrc,
#resources {
  width: var(--cell-max-width);
} */

.resources-tabs {
  background-color: var(--resources-background);
  display: flex;
  justify-content: center;
}

/* module padding */
.resources-tabs,
.app-body {
  /* padding: 8vw 4vw; */
  padding: 4vmin 4vmin 8vmin 4vmin;
}
#wrc,
#wrc > h1.pathway {
  color: var(--resources-header) !important;
  width: var(--tool-width);
  /* width: 100%; */
  max-width: var(--max-tool-width);
  margin-bottom: unset;
}
#resources {
  /* width: var(--tool-width); */
  color: var(--resources-header);

  align-self: center;
  justify-self: center;

  display: flex;
  flex-direction: column;
  /* gap: 2.8125rem; */
  /* padding-top: 5rem; */
  /* padding-bottom: 5rem; */
  /* padding-top: 6vmin !important; */
  /* padding-bottom: 6vmin !important; */
  align-items: left;
  height: fit-content;

  width: 100%;
  max-width: var(--max-tool-width);
  /* width: var(--containter-width); */
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  :root {
    --font-size-super-heading: 1.8rem;
    --font-size-heading: 1rem;
    --font-size-standard: 20px;
    --font-size-small: 0.8rem;
    --tool-width: 88.888vw;
  }

  .app-header {
    /* min-height: 100vh; */
    /* width: 100vw; */
    display: flex;
    gap: var(--small-unit);
    flex-direction: column !important;
    margin-top: 2.5vmin !important;
    margin-bottom: 2.5vmin !important;
  }

  #wrc > h1.pathway,
  #resources > h1.pathway {
    padding: 0;
    margin: 0;
    /* max-width: var(--tool-width) !important; */
    font-size: 2em !important;
  }

  #wrc .app-header > div {
    width: var(--tool-width) !important;
    align-self: center !important;
    max-width: var(--max-tool-width);
  }

  #wrc .tool-container {
    /* width: 88.88888vw !important; */
    /* background-color: blue !important; */
    /* width: fill-available !important; */
    width: stretch !important;
  }

  #wrc .TBD {
    justify-content: center;
  }
}

#wrc .app-header.pathway {
  flex-direction: row;
  gap: var(--large-unit);
}
#wrc .app-header.tabs {
  flex-direction: column;
  gap: var(--large-unit);
}

#wrc > h1.pathway {
  /* width: var(--tool-width); */
}

#wrc > h1.pathway,
#resources > h1.pathway {
  font-family: Georgia, "Times New Roman", Times, serif !important;
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-super-heading);
  line-height: var(--line-height-heading);
  color: var(--headline-white);
}

#resources > h1.pathway {
  color: var(--resources-header);
  margin-top: 0;
  margin-bottom: 1rem;
}

#wrc > h4,
#resources > h4 {
  text-transform: uppercase;
  color: var(--resources-bronze);
  font-style: normal;
  font-weight: 500;
}

#wrc h2 {
  /* font-style: var(--font-size-standard); */
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-small);
  line-height: var(--line-height-XXL);
  /* identical to box height, or 312% */
  text-transform: uppercase;
  /* text-align: left; */

  letter-spacing: 0.04rem;

  color: var(--accent-color);
}

#wrc .tool-container {
  width: var(--tool-width);
  padding: var(--large-unit);
  max-width: var(--max-tool-width);

  overflow: hidden;

  background-color: var(--bg-offset-color);

  /* border: 1px inset var(--accent-color); */
  border-radius: var(--border-radius-large);

  box-shadow: var(--container-shadow-dark);
}

#wrc .tool-container h2 {
  margin: 0;
  /* padding-left: var(--small-unit); */
  /* padding-right: var(--small-unit); */

  display: inline-flex;
  align-self: center;
  width: stretch;

  /* border-bottom: 6px solid hsl(4, 85%, 57%); */
}

.no-borders,
#wrc .no-border {
  /* border: 0; */
  border-top: unset !important;
  border-bottom: unset !important;
  border-left: unset !important;
  border-right: unset !important;
  border: unset !important;
}

.no-hover:hover {
  background-color: unset !important;
}

/* BEGIN STYLING FOR REST OF SITE */
/* this is a hyper-specific selector to thicken up the HR in the hero section */
#block-yui_3_17_2_1_1672599819625_101818 > div > hr {
  height: 4px;
  border: none;
  color: #333335;
  background-color: #333335;
}

/* box-shadow on contact cards and tools */
.resources-contact-card,
.sqs-block.html-block.sqs-block-html.sqs-background-enabled {
  box-shadow: var(--purple-shadow);
}

/* fakes the HR that we can't add inside the squarespace block item */
.sqs-block.html-block.sqs-block-html.sqs-background-enabled
  > .sqs-block-content
  > p:nth-last-of-type(4) {
  border-bottom: 2px solid #ef4136;
  padding-bottom: 1.5rem;
}

/* controls spacing of individual bubble-buttons */
.sqs-block.html-block.sqs-block-html.sqs-background-enabled
  > .sqs-block-content
  > p:nth-last-of-type(3),
.sqs-block.html-block.sqs-block-html.sqs-background-enabled
  > .sqs-block-content
  > p:nth-last-of-type(2),
.sqs-block.html-block.sqs-block-html.sqs-background-enabled
  > .sqs-block-content
  > p:last-of-type {
  padding-top: 1.5rem;
}

/* adds border around bubble-buttons as long as they've been set to bold-italic */
.sqs-block.html-block.sqs-block-html.sqs-background-enabled
  > .sqs-block-content
  > p
  > strong
  > em {
  border: 2px solid #f7f5e8;
  border-radius: 1000px;
  /* padding: 12px 20px; */
  padding: calc(1em / 2) calc(1.666em / 2);
  font-style: unset;
}

a.btn.btn--border.theme-btn--primary-inverse.sqs-button-element--primary {
  /* background-color: hsla(240, 3%, 21%, 1); */
  /* background-color: #355326; */
  background-color: #3c522c !important;
  position: fixed;
  height: 1.25rem;
  right: -3rem;
  top: 12.5rem;
  rotate: -90deg;
  font-size: 1.25rem !important;
  border-radius: 020px 20px 0px 00px;
}

.reduce-padding {
  padding: 0 !important;
  margin-bottom: 0 !important;
}

.intro-text {
  color: var(--resources-header) !important;
}

a.tooltip {
  /* position: relative; */
  /* display: inline-block; */
  /* border-bottom: 1px dotted black; */
  color: unset;
}

.leadin {
  display: block;
  margin-top: 0.8625rem;
  /* font-size: 1.25rem; */
  /* line-height: 1.5rem; */
  /* font-weight: 500; */
  /* color: var(--resources-header) !important; */
}

.tally-powered {
  visibility: hidden !important;
}
